<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="w3-content w3-center" style="margin-top:110px">
            <div class="w3-center">
                <h3>
                    Carta 1</h3>
                <img src="/imagenes/cartas/1.jpg" style="width:50% height:50%">
            </div>
            <div class="w3-center">
                <img src="/imagenes/cartas/2.jpg" style="width:50% height:50%">
            </div>
            <div class="w3-center">
                <img src="/imagenes/cartas/3.jpg" style="width:50% height:50%">
            </div>

        </div>
        <div class="w3-content w3-center" style="margin-top:110px">
            <div class="w3-center">
                <h3>
                    Carta 2</h3>

                <p>
                    Hola Mari linda, hermosita, dulce Te extraño mucho mucho y a cada instante, tu ausencia la respiro en cada bocanada de aire que inspiro y cada esquina del mundo tiene una inscripción con un recuerdo nuestro, y un holograma de lo que pudo ser, y
                    todavía puede. Me corroe el alma sentir que muchas de las circunstancias internas y externas conspiran y conspiraron para que estemos alejados, revivo todas las situaciones que enfrentamos y fueron muchas y muy dificiles, a mi me paso un
                    trasatlantico por encima, es increible la cantidad de dolor que me cayo, después de tantos años tan lindos y buenos. Nunca me paso tanto ni fuí así. Lo mal que estuve, y lo mal que te trate y te traslade todo esto a vos, en lugar de reposar mi cabeza
                    en tus hombros y dejarme querer, ni una sola lagrima te compartí mientras sufria, hice muy mal Saber que estuve acompañandote muy firme algunos e importantes años, y que hayas logrado y vivido uno de los mayores exitos de tu vida, y no poder haber
                    estado ahí, cuando en mi cabeza siempre estuvo latente esa proyección, me rompe en mil pedazos y me parte en mil pedazos. No tener la oportunidad de poner todo estas palabras (que aún no son mas que palabras, aunque muy sinceras y desde lo mas
                    visceral y hondo de mi) y las que dije en la carta anterior en práctica deja un espacio inconcluso. Yo se que vamos a salir bien, juntos o separados, vamos a ser super felices siempre, nos estamos obligados ni destinados a ser juntos. Pero no creo en
                    el azar, se que algo nos acerco especialmente y lo que sea que fuera, no fue para esto solo, cuando imagino el futuro, mi mente te imagina tan gigante, mi corazon te percibe tan fructifera y llena de amor, mis ojos brillan cuando tus ojos brillan. A
                    veces se necesita un unico y pequeño paso, siento que vos tomaste ya una determinación y decisión por tu bienestar y tal vez pensas que acercarte a mi sería volver atras o que sería una traba para los nuevos emprendimientos en los que estas, pero te
                    aseguro que será lo contrario, estoy abierto y dispuesto a todo, a dar un paso al futuro, será para adelante, creo que si hay un milimetro de espacio en tu corazon que siente todavia algo por mi, detras de alguna cerrazon o dolor y que aún se imagina
                    todo lo que yo me imagino (que se que ya lo imaginaste y soñaste antes y no pudimos hablarlo), necesito que des ese pasito hacia mi, acercate ese pasito. Muchas veces por las diferencias de edad algunas cosas fueron a destiempo, algunas veces te tuve
                    que esperar, emocionalmente yo estoy un pasito detras tuyo, a destiempo, por eso estoy llegando unos minutos tarde, esperame y da un pasito hacia mi, comunicate conmigo, una gotita mas de fe. Sueño con una familia junto a vos para cuando vos estes
                    lista, no soy tan diferente como pensas que soy, era solo un muro, tengo muchos miedos también, soy re normal como todos, no soy especial tal vez como crees o creiste, ni un genio, ni un poeta, soy solo muchas ganas, buena voluntad y fuente de calor
                    de amor y energia, doy todo de mi cuando creo en algo y hasta el final, y yo creo en vos, y creo en nosotros dos juntos. Aunque muchas situaciones y circunstancias que conspiren contra esto. Sé que todo se puede revertir. Yo si creo. Sueño con llegar
                    a viejitos, y que nuestras manos arrugadas se aprieten fuertemente, como las primeras veces que te aprete siendo vos una desconocida pero en mi interior sintiendote mucho mas ya, con mi fe ya en movimiento hacia vos cuando vos traias una carcasa
                    inmensa, sueño también con nuestros ojos ya gastados y vidriosos mirandose y se digan te amo, fuiste lo mejor que me paso en la vida y nadie me hizo tanto bien, una vida sin vos hubiese sido inimaginable, que suerte Hernán que no me dejaste ir cuando
                    todo empujaba hacia eso, como no aceptamos que circunstancias especiales nos rompieran y separaran, mira todo lo que sembramos, todo lo que vivimos, todo lo que cosechamos y mira esta familia grande hermosa y numerosa que construimos juntos. Nuestras
                    familias juntas y unidas, la mia que te ama. Sos mi mejor sueño, siempre. Te amo mari. Te amo mari. Te amo mari. PD: esto, y si hay algo mas lo voy a ir dejando directamente en la pagina, porque me disculpo por que te hayas sentido invadida o algo te
                    haya puesto mal de haberlo hecho manuscrito y dejarlo en tu casa, estoy moviendome totalmente a ciegas sin tus palabras, nunca quiero disminuirte, quiero que seas y seamos mucho mas.
                </p>

            </div>

            <br>

            <div class="w3-content w3-center" style="margin-top:110px">
                <div class="w3-center">
                    <h3>
                        Carta a la familia</h3>

                    <p>
                        Hola Patri, antes que nada me voy a disculpar por lo extenso, pero no tengo tu casilla de email y también me disculpo por no poder decir todo esto personalmente ya que las circunstancias no lo permiten. Espero y deseo que puedas hacerle llegar este
                        mensaje a toda la familia Quiero agradecerte especialmente a vos, a Carlos, a Ceci, a Gladys y a Flor, Lichar, a Milly (mi rescatada) y Molly (y al resto de la familia) todo el amor recibido y el cobijo que me brindaron estos últimos años, la cantidad de momentos felices juntos vividos son
                        inumerables, y no puedo mas que agradecerlo infinitamente desde lo mas profundo de mi corazón y mi sentir. Vivencie un año 2016 muy malo en lo personal y familiar, un padre con acv, un tio con otro acv y otro tío que falleció, sumado a un delicado
                        embarazo de mucho riesgo de mi hermana, después de una lucha de siete años por conseguirlo. Todas estas situaciones vividas y estas pesadas mochilas recayeron sobre mi y solo sobre mi, me llevaron a descuidar mucho mi relación con Mari, llevandome al
                        punto de que este descuido le hiciera mucho daño, y me arrepiento mucho por ello, estoy muy dolido. Tuve que enfrentar situaciones muy duras, que me trajeron muchos malos recuerdos de cuando perdí a mi mama, siendo yo muy chico también. Siempre fui
                        un convencido y puse todo mi empeño en cuidarla protegerla quererla y hacerla crecer en su interior, en la elección de su camino, acompañandola en todos los cambios que iba atravesando, siempre con mucho respeto y sobre todo mucho amor. Espero que lo sepan, a pesar de fallar en muchas cosas. Lamento
                        mucho no haber podido tener la fuerza, la energia y la claridad mental como para darme cuenta los errores que iba cometiendo en este camino. Creí que apartondala de mis problemas, la protegía a ella. Recien pude abrir los ojos cuando pude estabilizar
                        mi situación familiar, y sus estados de salud. Pero fue tarde. Quiero decirles que los quiero mucho a todos, guardo en mi parte de sus corazones, y uds se quedan con una parte del mio. Vislumbrava un hermoso futuro para nuestras dos familias judeo
                        cristianas unidas. Me disculpo también con todos por cualquier situación o malestar que les haya hecho pasar, por cualquier dejo de soberbia o mal trato, por no haber podido expresarles todo esto aunque espero que lo hayan podido sentir, nunca esas
                        cosas malas fueron parte de mi. Soy una persona alegre, feliz, constructiva y solidaria, de hondos valores, entregada al prójimo Los saludo a todos con un amor inmenso, que no se puede explicar, solo sentir. Los quiero mucho, Hernán.
                    </p>
                    <p>
                      PD: http://www.petitmarin.us
                    </p>

                </div>

                <br>

                <div class="w3-center">
                    <img src="/imagenes/nosotros/46.jpg" style="width:50% height:50%">
                </div>
            </div>

        </body>
    </html>
