<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="w3-content w3-center" style="margin-top:110px">
            <div class="w3-center">
                <h3>
                    Carta 1</h3>
                <img src="/imagenes/cartas/1.jpg" style="width:50% height:50%">
            </div>
            <div class="w3-center">
                <img src="/imagenes/cartas/2.jpg" style="width:50% height:50%">
            </div>
            <div class="w3-center">
                <img src="/imagenes/cartas/3.jpg" style="width:50% height:50%">
            </div>

        </div>
        <div class="w3-content w3-center" style="margin-top:110px">
            <div class="w3-center">
                <h3>
                    Carta 2</h3>

                <p>
                    Hola Mari linda, hermosita, dulce Te extraño mucho mucho y a cada instante, tu ausencia la respiro en cada bocanada de aire que inspiro y cada esquina del mundo tiene una inscripción con un recuerdo nuestro, y un holograma de lo que pudo ser, y
                    todavía puede. Me corroe el alma sentir que muchas de las circunstancias internas y externas conspiran y conspiraron para que estemos alejados, revivo todas las situaciones que enfrentamos y fueron muchas y muy dificiles, a mi me paso un
                    trasatlantico por encima, es increible la cantidad de dolor que me cayo, después de tantos años tan lindos y buenos. Nunca me paso tanto ni fuí así. Lo mal que estuve, y lo mal que te trate y te traslade todo esto a vos, en lugar de reposar mi cabeza
                    en tus hombros y dejarme querer, ni una sola lagrima te compartí mientras sufria, hice muy mal Saber que estuve acompañandote muy firme algunos e importantes años, y que hayas logrado y vivido uno de los mayores exitos de tu vida, y no poder haber
                    estado ahí, cuando en mi cabeza siempre estuvo latente esa proyección, me rompe en mil pedazos y me parte en mil pedazos. No tener la oportunidad de poner todo estas palabras (que aún no son mas que palabras, aunque muy sinceras y desde lo mas
                    visceral y hondo de mi) y las que dije en la carta anterior en práctica deja un espacio inconcluso. Yo se que vamos a salir bien, juntos o separados, vamos a ser super felices siempre, nos estamos obligados ni destinados a ser juntos. Pero no creo en
                    el azar, se que algo nos acerco especialmente y lo que sea que fuera, no fue para esto solo, cuando imagino el futuro, mi mente te imagina tan gigante, mi corazon te percibe tan fructifera y llena de amor, mis ojos brillan cuando tus ojos brillan. A
                    veces se necesita un unico y pequeño paso, siento que vos tomaste ya una determinación y decisión por tu bienestar y tal vez pensas que acercarte a mi sería volver atras o que sería una traba para los nuevos emprendimientos en los que estas, pero te
                    aseguro que será lo contrario, estoy abierto y dispuesto a todo, a dar un paso al futuro, será para adelante, creo que si hay un milimetro de espacio en tu corazon que siente todavia algo por mi, detras de alguna cerrazon o dolor y que aún se imagina
                    todo lo que yo me imagino (que se que ya lo imaginaste y soñaste antes y no pudimos hablarlo), necesito que des ese pasito hacia mi, acercate ese pasito. Muchas veces por las diferencias de edad algunas cosas fueron a destiempo, algunas veces te tuve
                    que esperar, emocionalmente yo estoy un pasito detras tuyo, a destiempo, por eso estoy llegando unos minutos tarde, esperame y da un pasito hacia mi, comunicate conmigo, una gotita mas de fe. Sueño con una familia junto a vos para cuando vos estes
                    lista, no soy tan diferente como pensas que soy, era solo un muro, tengo muchos miedos también, soy re normal como todos, no soy especial tal vez como crees o creiste, ni un genio, ni un poeta, soy solo muchas ganas, buena voluntad y fuente de calor
                    de amor y energia, doy todo de mi cuando creo en algo y hasta el final, y yo creo en vos, y creo en nosotros dos juntos. Aunque muchas situaciones y circunstancias que conspiren contra esto. Sé que todo se puede revertir. Yo si creo. Sueño con llegar
                    a viejitos, y que nuestras manos arrugadas se aprieten fuertemente, como las primeras veces que te aprete siendo vos una desconocida pero en mi interior sintiendote mucho mas ya, con mi fe ya en movimiento hacia vos cuando vos traias una carcasa
                    inmensa, sueño también con nuestros ojos ya gastados y vidriosos mirandose y se digan te amo, fuiste lo mejor que me paso en la vida y nadie me hizo tanto bien, una vida sin vos hubiese sido inimaginable, que suerte Hernán que no me dejaste ir cuando
                    todo empujaba hacia eso, como no aceptamos que circunstancias especiales nos rompieran y separaran, mira todo lo que sembramos, todo lo que vivimos, todo lo que cosechamos y mira esta familia grande hermosa y numerosa que construimos juntos. Nuestras
                    familias juntas y unidas, la mia que te ama. Sos mi mejor sueño, siempre. Te amo mari. Te amo mari. Te amo mari. PD: esto, y si hay algo mas lo voy a ir dejando directamente en la pagina, porque me disculpo por que te hayas sentido invadida o algo te
                    haya puesto mal de haberlo hecho manuscrito y dejarlo en tu casa, estoy moviendome totalmente a ciegas sin tus palabras, nunca quiero disminuirte, quiero que seas y seamos mucho mas.
                </p>

            </div>

            <br>

            <div class="w3-content w3-center" style="margin-top:110px">
                <div class="w3-center">
                    <h3>
                        Carta a la familia</h3>

                    <p>
                        Hola Patri, antes que nada me voy a disculpar por lo extenso, pero no tengo tu casilla de email y también me disculpo por no poder decir todo esto personalmente ya que las circunstancias no lo permiten. Espero y deseo que puedas hacerle llegar este
                        mensaje a toda la familia Quiero agradecerte especialmente a vos, a Carlos, a Ceci, a Gladys y a Flor, Lichar, a Milly (mi rescatada) y Molly (y al resto de la familia) todo el amor recibido y el cobijo que me brindaron estos últimos años, la
                        cantidad de momentos felices juntos vividos son inumerables, y no puedo mas que agradecerlo infinitamente desde lo mas profundo de mi corazón y mi sentir. Vivencie un año 2016 muy malo en lo personal y familiar, un padre con acv, un tio con otro acv
                        y otro tío que falleció, sumado a un delicado embarazo de mucho riesgo de mi hermana, después de una lucha de siete años por conseguirlo. Todas estas situaciones vividas y estas pesadas mochilas recayeron sobre mi y solo sobre mi, me llevaron a
                        descuidar mucho mi relación con Mari, llevandome al punto de que este descuido le hiciera mucho daño, y me arrepiento mucho por ello, estoy muy dolido. Tuve que enfrentar situaciones muy duras, que me trajeron muchos malos recuerdos de cuando perdí a
                        mi mama, siendo yo muy chico también. Siempre fui un convencido y puse todo mi empeño en cuidarla protegerla quererla y hacerla crecer en su interior, en la elección de su camino, acompañandola en todos los cambios que iba atravesando, siempre con
                        mucho respeto y sobre todo mucho amor. Espero que lo sepan, a pesar de fallar en muchas cosas. Lamento mucho no haber podido tener la fuerza, la energia y la claridad mental como para darme cuenta los errores que iba cometiendo en este camino. Creí
                        que apartondala de mis problemas, la protegía a ella. Recien pude abrir los ojos cuando pude estabilizar mi situación familiar, y sus estados de salud. Pero fue tarde. Quiero decirles que los quiero mucho a todos, guardo en mi parte de sus corazones,
                        y uds se quedan con una parte del mio. Vislumbrava un hermoso futuro para nuestras dos familias judeo cristianas unidas. Me disculpo también con todos por cualquier situación o malestar que les haya hecho pasar, por cualquier dejo de soberbia o mal
                        trato, por no haber podido expresarles todo esto aunque espero que lo hayan podido sentir, nunca esas cosas malas fueron parte de mi. Soy una persona alegre, feliz, constructiva y solidaria, de hondos valores, entregada al prójimo Los saludo a todos
                        con un amor inmenso, que no se puede explicar, solo sentir. Los quiero mucho, Hernán.
                    </p>

                </div>
                <br>

                <div class="w3-content w3-center" style="margin-top:110px">
                    <div class="w3-center">
                        <h3>
                            Carta 3</h3>

                            <p>
                                Me gustaría junto a vos:
                                <br>

                                Nos agreguemos a todas las redes sociales y compartamos todo, con normalidad y naturalidad, hacerte sentir todo lo que mereces, mi placer es tu placer.
                                <br>

                                Recorrer muchos museos, obras de teatro (danza!), recitales (el indio), bailes, charlas, conferencias, aprender aprender y aprender juntos, crecer juntos
                                <br>

                                Viajar, hacer la ruta del che, en moto o como un turista común, divertirnos y vivir mil anecdotas, disfrutandolo y cuidandonos, todo el norte, Bolivia, Perú, Brasil, Ecuador y tal vez recorrer Colombia, Venezuela y toda Sudamérica
                                <br>

                                Estaría honrado si quisieras junto a mi, hacer tu segunda etapa del viaje europeo conmigo, hay tanto por hacer, gente que conocer, calles que caminar, momentos de felicidad por sentir.
                                <br>

                                Otros mil viajes mas, recorrer EEUU en auto juntos, ruta y mas ruta, con toda la adrenalina, y otros lugares exóticos. Sin dejar de tomarnos de la mano y sin dejar una localidad del mundo sin desnudarnos, bailar en todas las ciudades.
                                <br>

                                Acompañarte en el desarrollo de tu carrera, apoyandote y acompañandote en todos tus procesos venideros, empujandote a pelear por un ideal de justicia y que ayudes a los mas necesitados.
                                <br>

                                Alquilar un lindo lugar para vivir juntos, el cual nos permita tener libertad para amarnos, dormir apretados, cocinarnos, cocinarte, despertarte con muchos besos, invitar gente, dormir siesta, ver peliculas, series, y que los vecinos nos miren raro
                                por todo el quilombo que hariamos porque no parariamos de cogernos. Un verdadero hogar. Tengo el trabajo, el dinero, las ganas y los medios para que podamos vivir todo esto.
                                <br>

                                Y mi sueño mas grande, dentro de este hogar, nunca lo hablamos, es formar una familia, siempre quise tener dos hijos, un varón y una nena, con la posibilidad de una adopción (como tercer hijo, o segundo), me imagino alguno colorado como yo, pero
                                todos con tu lindura, me imagine junto a vos hasta el tipo de educación que le ibamos a dar, una educación libre y abierta, nuestros hijos serían ciudadanos del mundo con la nacionalidad que tendriamos nosotros dos, llenando a esas dos personitas de
                                besos, los cuatro en la cama, sin parar de jugar. Soñe con el momento en el que me contabas "Hernán, estoy embarazada", yendo a hacer las econografías, estar pegado a vos, llorando juntos de emoción por esos hermosos momentos, siento que soy un super
                                compañero para vivir todo esto, y siento y quiero todo esto junto a vos y nadie mas.
                                <br>

                                Te amo tanto y te extraño tanto, da un pasito hacia mi, y vayamos por todo, juntos.
                            </p>

                    </div>

                    <br>

                    <div class="w3-center">

                    <p>
                        No soy especialmente dotado en nada,
                        <br>
                        aunque una cosa creo que me diferencia de los demás,<br>
                        donde los demás ven no, veo sí,
                        <br>
                        donde hay dificultad, veo desafios a transitar,<br>
                        donde hay oscuridad, veo luz,
                        <br>
                        da un pasito hacía mi, no tengas miedo, que todo lo demás se va a acomodar para bien, sea lo que sea,
                        <br>
                        no me tengas miedo, toma mi mano una vez mas, nunca mas te voy a volver a decepcionar,
                        <br>
                        soy una persona de si, conoces esa parte de mí, y falta una parte mucho mejor que estaba trabada,<br>
                        y ya no mas, estoy abierto y listo para todo.
                        <br>

                        Te amo mari, y quiero ser todo el hombre que vos necesitas y te mereces.<br>
                        Solo quiero hacerte feliz, muy feliz.
                        <br>
                    </p>
                    <br>
                    <h3>Te amo te amo te amo, de la manera mas tierna, dulce y máxima que un hombre puede amar a una mujer.</h3>
                </div>



                <div class="w3-content w3-center" style="margin-top:110px">
                    <h3>
                        Notas
                    </h3>
                    <p>

                        <br>
                        La última vez que la ví, ella me quiso demostrar que para ella yo fuí,
                        <br>
                        Ni si quiera se porque estuvo conmigo esa vez,
                        <br>
                        La última vez que la ví, no tuve ni la fuerza para abrazarla bien,
                        <br>
                        La última vez que la ví, no pude siquiera hacerle el amor como yo se hacerselo,
                        <br>
                        La última vez que la ví, ellá eran dos, la que si y la que no,
                        <br>
                        No hay ese orgullo en mí, la verdad se ausentó la última vez que la ví,
                        <br>
                        ella decidió preservar su corazón, de mi, de lo mejor por venir.
                        <br>
                        <br>
                        Me voy a comer su dolor y voy a salvarla esta noche,
                        <br>

                        Te amo, y estoy acá, sigo estando acá, da un pasito hacia mí. ---;--@
                        <br>
                    </p>

                </div>
                <br>

                <div class="w3-content w3-center" style="margin-top:110px">
                    <h3>
                        Notas
                    </h3>

                    <p>

                        Listo para viajar junto a vos en tu segunda etapa,
                        <br>
                        para mudarme junto a vos,
                        <br>
                        para unificarlo todo,
                        <br>
                        para liberarlo todo,
                        <br>
                        totalmente destrabado,
                        <br>
                        como lo estuve anteriormente,
                        <br>
                        hay mucho mas de mi,<br>
                        lo mejor de mi,<br>
                        solo pudiste percibirlo,
                        <br>
                        dejame salir del recuerdo,
                        <br>
                        de la memoria,<br>
                        soy real.
                        <br>
                        <br>
                        <br>
                        <br>

                        <h3>
                            Notas </h3>


                        Ojala este hermoso fuego,
                        <br>
                        nunca dejes convertir en cenizas,
                        <br>
                        con desafios por compartir,
                        <br>
                        con tantos desafios ya compartidos,
                        <br>
                        grito tu nombre afónico en un cono de silencio,
                        <br>
                        el mutismo y el olvido operan como un arma de destrucción masiva,
                        <br>
                        sobrevivo, mal herido, pero con hambre de sanar, juntos,
                        <br>
                        sigo acá.<br>

                    </p>

                </div>
                <br>

                <div class="w3-content w3-center" style="margin-top:110px">
                  <h3>
                      Notas </h3>


                    <p>
                        Y ahora le daras a otro, todo lo mejor de vos,
                        <br>
                        Y otra mujer, se llevará toda mi mejor version,
                        <br>
                        Lo que ya era, mas lo nuevo que aprendí,
                        <br>
                        lo que te quiero dar a vos,
                        <br>
                        lo que te pertenece,
                        <br>
                        las dudas, los miedos,<br>
                        los que no están dentro nuestro,<br>
                        las miradas de los otros, el orgullo,
                        <br>
                        el dolor, el ruido superficial,
                        <br>
                        son malos consejeros.<br>
                        Correr y huir no hace mas que dejar heridas abiertas,
                        <br>
                        <br>
                        Estoy detenido aquí y ahora,<br>
                        para tí, ofreciendotelo todo,
                        <br>
                        que no gane el silencio,
                        <br>
                        de vos depende.<br>

                    </p>
                </div>

                <div class="w3-center">
                    <img src="/imagenes/nosotros/46.jpg" style="width:50% height:50%">
                </div>
            </div>

        </body>
    </html>
