<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="w3-center">
            <img src="/imagenes/extra/0.jpg" style="width:50% height:50%">
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/extra/1.jpg" class="w3-animate-top" style="width:50% height:50%">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    ---;--@ !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/extra/2.jpg" class="w3-animate-top" style="width:50% height:50%">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    ---;--@ !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/extra/3.jpg" class="w3-animate-top" style="width:50% height:50%">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    ---;--@ !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/extra/14.jpg" class="w3-animate-top" style="width:50% height:50%">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    ---;--@ !
                </div>
            </div>
        </div>

    </body>
</html>
