<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>

                <div class="w3-content w3-center" style="margin-top:110px">
                    Hoy escribo pensando en ti. Tú eres la rosa. Tú eres a quién cuido con mimo y a quién busco en la noche.<br> 
                    Tú eres el sentido y la imagen viva de todo aquello por lo que quiero seguir luchando.<br>
                    No siempre ha sido así. Cuando la oscuridad lo cubre todo, <br>
                    uno se equivoca de sendas y elige mal el camino en los cruces. <br> 
                    Cuando la oscuridad lo convierte todo en irrespirable, uno puede hasta equivocarse de rosa. <br> 
                    Y protege con su biombo a sombras, a espectros, a deseos, a enredos imaginarios y cautivadores. <br>
                    Es por eso que conviene no separarnos cuando nos envuelve lo oscuro.<br>
                    La rosa eres tú. Mi rosa. Por la que me preocupo. Por la que sufro. Por la que lloro. Por la que muero.

                    
                                <br>
        </div>
        <br>

        <div class="w3-content w3-center" style="margin-top:110px">
            Yo conocí a la rosa del Principito. Y, efectivamente, quedé cautivado por ella.
            <br>
            La conocí de casualidad y, en un principio, me engañó al hacerse pasar por una rosa cualquiera.
            <br>
            Pero cada día, al mirarla, iba descubriendo en ella algo que la hacía, efectivamente, única.
            <br>
            No era su forma ni su color sino más bien su fragancia, su delicada manera de presentarse ante el mundo, su sutil belleza frágil… lo que la hacía distinta.
            <br>
            Comencé a entender aquello que el Principito decía de su rosa…<br>
            Una tarde de noviembre, la rosa no quiso mirarme a los ojos. Estaba triste. Y yo me entristecí con ella.
            <br>
            Intenté quitarle las orugas, como había hecho el Principito con ella tiempo atrás, pero no funcionó. Lo intenté con el biombo, con el agua del riego… pero la rosa no levantaba la mirada.<br>
            - No quiero llorar – me dijo. – Me siento vulnerable, fuera de control de mi misma.<br>
            - Eso no es malo – le respondí. – Todos necesitamos perder el control de vez en cuando.<br>
            - Vete, por favor – suplicó. – Quiero estar sola.<br>
            Y me alejé sin más. El Principito lo hubiera hecho. El Principito sabía administrar los tiempos y leer aquello que es invisible a los ojos: lo esencial.
            <br>
            - Mañana volveré puesto que ella es también mi rosa. – pensé. Y en la claridad de la noche no dejo de esperar por ella.
            <br>
        </div>
        <br>
        <div class="w3-content w3-center" style="margin-top:110px">
            - No sé por qué me quieres a mi y no a ésa – me dijo la rosa señalando a una compañera de parterre.
            <br>
            - Porque ésa no es tú – le contesté.
            <br>
            - Somos prácticamente iguales. Nadie nos distinguiría con la vista. Necesita lo mismo que yo y su fragancia es la misma. Puede darte lo mismo que te doy yo – insistió.<br>
            - A los ojos de cualquiera sois parecidas, sin duda. Pero porque te conozco, te quiero a ti; porque te conozco, he decidido quererte; porque te conozco ,<br>
            ninguna otra me serviría; porque te conozco, sé que más allá de la apariencia, la fragancia, las necesidades y los gustos… está el alma y ahí, es ahí, donde ninguna otra se te iguala.
            <br>
            Tú eres única.
            <br>
            <br>

            <h3>Te amo te amo te amo, de la manera mas tierna, dulce y máxima que un hombre puede amar a una mujer y estoy acá, sigo estando acá, da un pasito hacia mí. ---;--@.</h3>

        </div>

        <br>
        <br>
        <div class="w3-center">
            <img src="/imagenes/nosotros/46.jpg" style="width:50% height:50%">
        </div>

    </body>

    <script src="/js/slide.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/clicks.js"></script>
    <script src="/js/jquery.js"></script>
</body>
</html>
