<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>

        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/13.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/14.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/15.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/16.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/17.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/18.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/19.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/21.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/22.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/23.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/24.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/25.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/26.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/27.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/28.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/29.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/30.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/31.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/32.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/33.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/34.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/35.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/36.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/37.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/38.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/39.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/40.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/41.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/42.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/43.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/44.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/45.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:1100px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/nosotros/46.jpg" class="w3-animate-top" style="width:50% height:50%" href="nosotros">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Nosotros !
                </div>
            </div>
        </div>

    </body>

    <script src="/js/slide.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/clicks.js"></script>
    <script src="/js/jquery.js"></script>
</body>
</html>
