<!DOCTYPE html>
<html>
    <title>PetitMarin | <3 <3 <3 <3
    </title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>

        <div class="w3-content w3-center" style="max-width:1800px;margin-top:54px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes//flyers/monociclo.jpg" class="w3-animate-top" style="width:50% height:50%" href="proximos">
                <div class="w3-display-topright w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/band4.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda1.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottomleft w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda2.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-topleft w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda3.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda8.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-bottomright w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda20.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-topright w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda30.jpg" class="w3-animate-bottom" style="width:100%">
                <div class="w3-display-topmiddle w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/banda60.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-middle w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/galeria/slide/bandd.jpg" class="w3-animate-top" style="width:100%">
                <div class="w3-display-bottommiddle w3-container w3-padding-16 w3-red">
                    Buena Cosecha !
                </div>
            </div>
        </div>
    </body>

    <script src="/js/slide.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/clicks.js"></script>
    <script src="/js/jquery.js"></script>
</body>
</html>
