<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Lato|Fascinate+Inline|Finger+Paint|Anton|Monofett|Permanent+Marker|Shrikhand" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="/js/analytics.js"></script>
    </head>

    <!-- Navbar de monitores grandes-->
    <div class="w3-top">
        <ul class="w3-navbar w3-pink w3-card-2 w3-left-align">
            <li class="w3-hide-large w3-opennav w3-left">
                <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-dropdown-hover">
                <a href="multimedia" class="w3-hover-none w3-padding-large" title="Musica">
                    <h4 id="menumusica" class="menuhomerojo">POEMAS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-dropdown-hover">
                <a href="shows" class="w3-hover-none w3-padding-large" title="Shows">
                    <h4 id="menushow" class="menuhomeamarillo">NOSOTROS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium ">
                <a href="nosotros" class="w3-padding-large" title="Nosotros">
                    <h4 id="menunosotros" class="menuhomeverde">VOS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium ">
                <a href="nosotros" class="w3-padding-large" title="Nosotros">
                    <h4 id="menunosotros" class="menuhomeverde">YO</h4>
                </a>
            </li>

        </ul>
    </div>

    <!-- Menu de celulares y tablets -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-top" style="margin-top:46px">
        <ul class="w3-navbar w3-left-align w3-black">
            <li>
                <a class="w3-padding-large" href="/">Home
                </a>
            </li>
            <li>
                <a class="w3-padding-large" href="multimedia">Poemas</a>
            </li>
            <li>
                <a class="w3-padding-large" href="shows">Fotos</a>
            </li>
            <li>
                <a class="w3-padding-large" href="nosotros">Yo</a>
            </li>
        </ul>
    </div>
    <div class="w3-container proximosshowsmobile" id="proximosshowsmobile"></div>

    <!-- Contenido del body -->
    <body>
        <div id='header'>
            <div id='main'>
                <%= yield %>
            </div>
        </div>
        <script src="/js/menu.js"></script>
        <script src="/js/clicks.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/facebooklike.js"></script>

    </body>

    <!-- Contenido del footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <p class="w3-medium"> Amor, sin condición
        </p>
    </footer>
</html>
