<html>
    <head>
        <meta name="google-site-verification" content="tZ29lnY9K77zk3P76FMVACpqZm1Aeiha3lukoAFjE9M"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Lato|Fascinate+Inline|Finger+Paint|Anton|Monofett|Permanent+Marker|Shrikhand" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="/imagenes/favicon.ico" rel="shortcut icon">
        <script src="/js/analytics.js"></script>
    </head>

    <!-- Navbar de monitores grandes-->
    <div class="w3-top">
        <ul class="w3-navbar w3-black w3-card-2 w3-left-align">
            <li class="w3-hide-large w3-opennav w3-left">
                <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-dropdown-hover">
                <a href="multimedia" class="w3-hover-none w3-padding-large" title="Musica">
                    <h4 id="menumusica" class="menuhomerojo">MÚSICA</h4>
                </a>
                <div class="w3-dropdown-content w3-white w3-card-4 w3-left-align">
                    <a href="audios" class="menuhomerojo">Audios</a>
                    <a href="videos" class="menuhomerojo">Videos</a>
                    <a href="letras" class="menuhomerojo">Letras</a>
                </div>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-dropdown-hover">
                <a href="shows" class="w3-hover-none w3-padding-large" title="Shows">
                    <h4 id="menushow" class="menuhomeamarillo">SHOWS</h4>
                </a>
                <div class="w3-dropdown-content w3-white w3-card-2 w3-left-align ">
                    <a href="proximos" class="menuhomeamarillo">Próximos</a>
                    <a href="pasados" class="menuhomeamarillo">Pasados</a>
                </div>
            </li>
            <li class="w3-hide-small w3-hide-medium ">
                <a href="nosotros" class="w3-padding-large" title="Nosotros">
                    <h4 id="menunosotros" class="menuhomeverde">NOSOTROS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="javascript:void(0)">
                    <i id="fb-root" class="fa-3x social">
                        <div class="fb-like" data-href="https://www.facebook.com/buenacosechabanda/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                    </i>
                </a>
            </li>

            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="javascript:void(0)">
                    <i id="social-se" class="fa fa-search fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="mailto:info@buenacosecha.com.ar?subject=contacto" target="_blank">
                    <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="https://www.instagram.com/buenacosechaska" target="_blank">
                    <i id="social-in" class="fa fa-instagram fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="https://www.youtube.com/channel/UClUAerSDxrXUJON4TXJIing" target="_blank">
                    <i id="social-yt" class="fa fa-youtube-play fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="https://www.twitter.com/buenacosechaska" target="_blank">
                    <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="https://www.facebook.com/buenacosechabanda/" target="_blank">
                    <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="/">
                    <i id="social-ho" class="fa fa-home fa-3x social"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Menu de celulares y tablets -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-top" style="margin-top:46px">
        <ul class="w3-navbar w3-left-align w3-black">
            <li>
                <a class="w3-padding-large" href="/">Home
                </a>
            </li>
            <li>
                <a class="w3-padding-large" href="multimedia">Música</a>
            </li>
            <li>
                <a class="w3-padding-large" href="shows">Shows</a>
            </li>
            <li>
                <a class="w3-padding-large" href="nosotros">Nosotros</a>
            </li>
        </ul>
    </div>
    <div class="w3-container proximosshowsmobile" id="proximosshowsmobile"></div>

    <!-- Contenido del body -->
    <body>
        <div id='header'>
            <div id='main'>
                <%= yield %>
            </div>
        </div>
        <script src="/js/menu.js"></script>
        <script src="/js/clicks.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/facebooklike.js"></script>

    </body>

    <!-- Contenido del footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <a href="https://www.facebook.com/buenacosechabanda/" target="_blank">
            <i id="social-fb" class="fa fa-facebook-square fa-2x social"></i>
        </a>
        <a href="https://www.twitter.com/buenacosechaska" target="_blank">
            <i id="social-tw" class="fa fa-twitter-square fa-2x social"></i>
        </a>
        <a href="https://www.instagram.com/buenacosechaska" target="_blank">
            <i id="social-in" class="fa fa-instagram fa-2x social"></i>
        </a>
        <a href="https://www.youtube.com/channel/UClUAerSDxrXUJON4TXJIing" target="_blank">
            <i id="social-yt" class="fa fa-youtube-play fa-2x social"></i>
        </a>
        <a href="mailto:info@buenacosecha.com.ar?subject=contacto" target="_blank">
            <i id="social-em" class="fa fa-envelope-square fa-2x social"></i>
        </a>
        <p class="w3-medium">Desarrollado por Buena Cosecha - 2016
        </p>
    </footer>
</html>
