<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Bangers|Lato|Fascinate+Inline|Finger+Paint|Anton|Monofett|Permanent+Marker|Shrikhand|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="/js/analytics.js"></script>
        <title>PetitMarin <3 <3 <3 <3 | Toma mi mano
        </title>
    </head>

    <!-- Navbar de monitores grandes-->
    <div class="w3-top">
        <ul class="w3-navbar w3-pink w3-card-2 w3-left-align">
            <li class="w3-hide-large w3-opennav w3-left">
                <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-dropdown-hover">
                <a href="poemas" class="w3-hover-none w3-padding-large" title="poemas">
                    <h4 id="menu1" class="menu1">POEMAS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-dropdown-hover">
                <a href="nosotros" class="w3-hover-none w3-padding-large" title="nosotros">
                    <h4 id="menu2" class="menu2">NOSOTROS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium ">
                <a href="vos" class="w3-padding-large" title="vos">
                    <h4 id="menu3" class="menu3">VOS</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium ">
                <a href="yo" class="w3-padding-large" title="yo">
                    <h4 id="menu4" class="menu4">YO</h4>
                </a>
            </li>
            <li class="w3-hide-small w3-hide-medium w3-right">
                <a href="extra" class="w3-padding-large" title="extra">
                    <h4 id="menu4" class="menu5">Extra</h4>
                </a>
            </li>


        </ul>
    </div>

    <!-- Menu de celulares y tablets -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-top" style="margin-top:46px">
        <ul class="w3-navbar w3-left-align w3-black">
            <li>
                <a class="w3-padding-large" href="/">Home
                </a>
            </li>
            <li>
                <a class="w3-padding-large" href="poemas">Poemas</a>
            </li>
            <li>
                <a class="w3-padding-large" href="nosotros">Nosotros</a>
            </li>
            <li>
                <a class="w3-padding-large" href="vos">Vos</a>
            </li>
            <li>
                <a class="w3-padding-large" href="yo">yo</a>
            </li>

        </ul>
    </div>
    <div class="w3-container proximosshowsmobile" id="proximosshowsmobile"></div>

    <!-- Contenido del body -->
    <body>
        <div id='header'>
            <div id='main'>
                <%= yield %>
            </div>
        </div>
        <script src="/js/menu.js"></script>
        <script src="/js/clicks.js"></script>
        <script src="/js/jquery.js"></script>

    </body>

    <!-- Contenido del footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <p class="w3-medium">
            Estar contigo o no estar contigo, es la medida de mi tiempo.
        </p>
    </footer>
</html>
