<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <br>
        <br>
        <div class="w3-center w3-padding-64">
            <img src="/imagenes/familia/1.jpg" style="width:100% height:100%">
        </div>
        <br>
        <div class="w3-center">
            <p>
                Me gustaría junto a vos:
                <br>

                Nos agreguemos a todas las redes sociales y compartamos todo, con normalidad y naturalidad, hacerte sentir todo lo que mereces, mi placer es tu placer.
                <br>

                Recorrer muchos museos, obras de teatro, recitales, charlas, conferencias, aprender aprender y aprender juntos, crecer juntos
                <br>

                Viajar, hacer la ruta del che, en moto o como un turista común, divertirnos y vivir mil anecdotas, disfrutandolo y cuidandonos, todo el norte, Bolivia, Perú, Brasil, Ecuador y tal vez recorrer Colombia, Venezuela y toda Sudamérica
                <br>

                Estaría honrado si quisieras junto a mi, hacer tu segunda etapa del viaje europeo conmigo, hay tanto por hacer, gente que conocer, calles que caminar, momentos de felicidad por sentir.
                <br>

                Otros mil viajes mas, recorrer EEUU en auto juntos, ruta y mas ruta, con toda la adrenalina, y otros lugares exóticos. Sin dejar de tomarnos de la mano y sin dejar una localidad del mundo sin desnudarnos.
                <br>

                Acompañarte en el desarrollo de tu carrera, apoyandote y acompañandote en todos tus procesos venideros, empujandote a pelear por un ideal de justicia y que ayudes a los mas necesitados.
                <br>

                Alquilar un lindo lugar para vivir juntos, el cual nos permita tener libertad para amarnos, dormir apretados, cocinarnos, cocinarte, despertarte con muchos besos, invitar gente, dormir siesta, ver peliculas, series, y que los vecinos nos miren raro
                por todo el quilombo que hariamos porque no parariamos de cogernos. Un verdadero hogar. Tengo el trabajo, el dinero, las ganas y todos los medios para que podamos vivir todo esto.
                <br>

                Y mi sueño mas grande, dentro de este hogar, nunca lo hablamos, es formar una familia, siempre quise tener dos hijos, un varón y una nena, con la posibilidad de una adopción (como tercer hijo, o segundo), me imagino alguno colorado como yo, pero
                todos con tu lindura, me imagine junto a vos hasta el tipo de educación que le ibamos a dar, una educación libre y abierta, nuestros hijos serían ciudadanos del mundo con la nacionalidad que tendriamos nosotros dos, llenando a esas dos personitas de
                besos, los cuatro en la cama, sin parar de jugar. Soñe con el momento en el que me contabas "Hernán, estoy embarazada", yendo a hacer las econografías, estar pegado a vos, llorando juntos de emoción por esos hermosos momentos, siento que soy un super
                compañero para vivir todo esto, y siento y quiero todo esto junto a vos y nadie mas.
                <br>

                Te amo tanto y te extraño tanto, da un pasito hacia mi, y vayamos por todo, juntos.
            </p>
            <br>
            <div class="w3-center">

                <p>
                    No soy especialmente dotado en nada,
                    <br>
                    aunque una cosa creo que me diferencia de los demás,<br>
                    donde los demás ven no, veo sí,
                    <br>
                    donde hay dificultad, veo desafios a transitar,<br>
                    donde hay oscuridad, veo luz,
                    <br>
                    da un pasito hacía mi, no tengas miedo, que todo lo demás se va a acomodar para bien, sea lo que sea,
                    <br>
                    no me tengas miedo, toma mi mano una vez mas, nunca mas te voy a volver a decepcionar,
                    <br>
                    soy una persona de si, conoces esa parte de mí, y falta una parte mucho mejor que estaba trabada,<br>
                    y ya no mas, estoy abierto y listo para todo.
                    <br>

                    Te amo mari, y quiero ser todo el hombre que vos necesitas y te mereces.<br>
                    Solo quiero hacerte feliz, muy feliz.
                    <br>
                </p>
                <br>
                <h3>Te amo te amo te amo, de la manera mas tierna, dulce y máxima que un hombre puede amar a una mujer.</h3>
            </div>

            <div class="w3-center">

                <p>
                    " Ay! mi amor... ya sin vos, sin tu sueño
                    <br>
                    Yo no sabría echarte de menos
                    <br>
                    (soy un ladrón que robó dolor)
                    <br>
                    y si te pierdo camino a casa
                    <br>
                    ya te dije esto antes, linda mía
                    <br>
                    ...te voy a encontrar
                    <br>
                    te voy a buscar
                    <br>
                    y te voy a encontrar... "<br>
                </p>
                <h3>
                    Te amo y te extraño mucho</h3>

            </div>

            <div class="w3-center">
                <img src="/imagenes/yo/31.jpg" style="width:100% height:100%">
            </div>

            <br>

            <div class="w3-content w3-center" style="margin-top:110px">

                <p>
                    Es el amor. Tendré que ocultarme o que huir. Crecen los muros de su cárcel, como en un sueño atroz. La hermosa máscara ha cambiado, pero como siempre es la única. ¿De qué me servirán mis talismanes: el ejercicio de las letras, la vaga erudición, el
                    aprendizaje de las palabras que usó el áspero Norte para cantar sus mares y sus espadas, la serena amistad, las galerías de la biblioteca, las cosas comunes, los hábitos, el joven amor de mi madre, la sombra militar de mis muertos, la noche
                    intemporal, el sabor del sueño? Estar contigo o no estar contigo es la medida de mi tiempo. Ya el cántaro se quiebra sobre la fuente, ya el hombre se levanta a la voz del ave, ya se han oscurecido los que miran por las ventanas, pero la sombra no ha
                    traído la paz. Es, ya lo sé, el amor: la ansiedad y el alivio de oír tu voz, la espera y la memoria, el horror de vivir en lo sucesivo. Es el amor con sus mitologías, con sus pequeñas magias inútiles. Hay una esquina por la que no me atrevo a pasar.
                    Ya los ejércitos me cercan, las hordas. (Esta habitación es irreal; ella no la ha visto.) El nombre de una mujer me delata. Me duele una mujer en todo el cuerpo.
                </p>
            </div>
            <br>
            <div class="w3-center">
                <img src="/imagenes/nosotros/46.jpg" style="width:50% height:50%">
            </div>
            <br>
            <div class="w3-content w3-center" style="margin-top:110px">
                <p>
                    Una querencia tengo por tu acento, una apetencia por tu compañía y una dolencia de melancolía por la ausencia del aire de tu viento. Paciencia necesita mi tormento, urgencia de tu garza galanía, tu clemencia solar mi helado día, tu asistencia la
                    herida en que lo cuento. ¡Ay querencia, dolencia y apetencia!: tus sustanciales besos, mi sustento, me faltan y me muero sobre mayo. Quiero que vengas, flor, desde tu ausencia, a serenar la sien del pensamiento que desahoga en mí su eterno rayo.

                </p>

            </div>

            <br>
            <br>
            <div class="w3-center">
                <img src="/imagenes/nosotros/38.jpg" style="width:50% height:50%">
            </div>

            <audio src="/audio/acuarela.mp3" autoplay=""></audio>

            <script src="/js/slide.js"></script>
            <script src="/js/menu.js"></script>
            <script src="/js/clicks.js"></script>
            <script src="/js/jquery.js"></script>

        </body>
    </html>
