<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <br>
        <br>
        <div class="w3-center w3-padding-64">
            <img src="/imagenes/familia/1.jpg" style="width:100% height:100%">
        </div>

        <div class="w3-content w3-center" style="margin-top:110px">
            <p>
                La última vez que la ví, ella me quiso demostrar que para ella yo fuí,
                <br>
                Ni si quiera se porque estuvo conmigo esa vez,
                <br>
                La última vez que la ví, no tuve ni la fuerza para abrazarla bien,
                <br>
                La última vez que la ví, no pude siquiera hacerle el amor como yo se hacerselo,
                <br>
                La última vez que la ví, ellá eran dos, la que si y la que no,
                <br>
                No hay ese orgullo en mí, la verdad se ausentó la última vez que la ví,
                <br>
                ella decidió preservar su corazón, de mi, de lo mejor por venir.
                <br>
                <br>
                Me voy a comer su dolor y voy a salvarla esta noche,
                <br>

                Te amo, y estoy acá, sigo estando acá, da un pasito hacia mí. ---;--@
                <br>
            </p>

        </div>
        <br>
        <div class="w3-center">
            <img src="/imagenes/yo/31.jpg" style="width:100% height:100%">
        </div>
        <br>
        <div class="w3-content w3-center" style="margin-top:110px">
            <p>

                Listo para viajar junto a vos en tu segunda etapa,
                <br>
                para mudarme junto a vos,
                <br>
                para unificarlo todo,
                <br>
                para liberarlo todo,
                <br>
                totalmente destrabado,
                <br>
                como lo estuve anteriormente,
                <br>
                hay mucho mas de mi,<br>
                lo mejor de mi,<br>
                solo pudiste percibirlo,
                <br>
                dejame salir del recuerdo,
                <br>
                de la memoria,<br>
                soy real.
                <br>
                <br>
                <br>
                <br>

                Ojala este hermoso fuego,
                <br>
                nunca dejes convertir en cenizas,
                <br>
                con desafios por compartir,
                <br>
                con tantos desafios ya compartidos,
                <br>
                grito tu nombre afónico en un cono de silencio,
                <br>
                el mutismo y el olvido operan como un arma de destrucción masiva,
                <br>
                sobrevivo, mal herido, pero con hambre de sanar, juntos,
                <br>
                sigo acá.<br>

            </p>

        </div>

        <div class="w3-content w3-center" style="margin-top:110px">

            <p>
                Y ahora le daras a otro, todo lo mejor de vos,
                <br>
                Y otra mujer, se llevará toda mi mejor version,
                <br>
                Lo que ya era, mas lo nuevo que aprendí,
                <br>
                lo que te quiero dar a vos,
                <br>
                lo que te pertenece,
                <br>
                las dudas, los miedos,<br>
                los que no están dentro nuestro,<br>
                las miradas de los otros, el orgullo,
                <br>
                el dolor, el ruido superficial,
                <br>
                son malos consejeros.<br>
                Correr y huir no hace mas que dejar heridas abiertas,
                <br>
                <br>
                Estoy detenido aquí y ahora,<br>
                para tí, ofreciendotelo todo,
                <br>
                que no gane el silencio,
                <br>
                de vos depende.<br>

            </p>
        </div>
        <div class="w3-content w3-center" style="margin-top:110px">

            <p>
                Es el amor. Tendré que ocultarme o que huir. Crecen los muros de su cárcel, como en un sueño atroz. La hermosa máscara ha cambiado, pero como siempre es la única. ¿De qué me servirán mis talismanes: el ejercicio de las letras, la vaga erudición, el
                aprendizaje de las palabras que usó el áspero Norte para cantar sus mares y sus espadas, la serena amistad, las galerías de la biblioteca, las cosas comunes, los hábitos, el joven amor de mi madre, la sombra militar de mis muertos, la noche
                intemporal, el sabor del sueño? Estar contigo o no estar contigo es la medida de mi tiempo. Ya el cántaro se quiebra sobre la fuente, ya el hombre se levanta a la voz del ave, ya se han oscurecido los que miran por las ventanas, pero la sombra no ha
                traído la paz. Es, ya lo sé, el amor: la ansiedad y el alivio de oír tu voz, la espera y la memoria, el horror de vivir en lo sucesivo. Es el amor con sus mitologías, con sus pequeñas magias inútiles. Hay una esquina por la que no me atrevo a pasar.
                Ya los ejércitos me cercan, las hordas. (Esta habitación es irreal; ella no la ha visto.) El nombre de una mujer me delata. Me duele una mujer en todo el cuerpo.
            </p>
        </div>
        <div class="w3-content w3-center" style="margin-top:110px">
            <p>
                Una querencia tengo por tu acento, una apetencia por tu compañía y una dolencia de melancolía por la ausencia del aire de tu viento. Paciencia necesita mi tormento, urgencia de tu garza galanía, tu clemencia solar mi helado día, tu asistencia la
                herida en que lo cuento. ¡Ay querencia, dolencia y apetencia!: tus sustanciales besos, mi sustento, me faltan y me muero sobre mayo. Quiero que vengas, flor, desde tu ausencia, a serenar la sien del pensamiento que desahoga en mí su eterno rayo.

            </p>

        </div>

        <br>
        <br>
        <div class="w3-center">
            <img src="/imagenes/nosotros/46.jpg" style="width:50% height:50%">
        </div>

        <audio src="/audio/acuarela.mp3" autoplay=""></audio>

        <script src="/js/slide.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/clicks.js"></script>
        <script src="/js/jquery.js"></script>

    </body>
</html>
