<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <title></title>
    </head>
    <body>
      <div class="w3-center style="max-width:800px;margin-top:110px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YQkA68H5cWQ" frameborder="0" allowfullscreen></iframe>
      </div>

        <div class="w3-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/J3-FkGX5Tv8" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <div class="w3-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Kww82UVdVhw" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <div class="w3-center">
            <img src="/imagenes/nosotros/38.jpg" style="width:50% height:50%">
        </div>
<br>

        <script src="/js/slide.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/clicks.js"></script>
        <script src="/js/jquery.js"></script>

    </body>
</html>
