<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="<%= url('/estilos/styles.css') %>" rel="stylesheet" type="text/css"/>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/1.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/2.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/3.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/4.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/5.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/6.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/7.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/8.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/9.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/10.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/11.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/12.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/13.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/14.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/15.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/16.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/17.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>
        <div class="w3-content w3-center" style="max-width:800px;margin-top:110px">
            <div class="mySlides  w3-display-container">
                <img src="/imagenes/yo/18.jpg" class="w3-animate-top" style="width:50% height:50%" href="yo">
                <div class="w3-display-topright w3-container w3-padding-16 w3-pink">
                    Yo
                </div>
            </div>
        </div>

        <script src="/js/slide.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/clicks.js"></script>
        <script src="/js/jquery.js"></script>

    </body>
</html>
